/*------------------------------------*\
    #AUTHOR BIO
\*------------------------------------*/

.author-bio {
	border-top: 1px solid color('grey-light');
	margin-top: $spacing-unit--small;
	padding-top: $spacing-unit--small;

	@include breakpoint(md) {
		margin-top: $spacing-unit;
		padding-top: $spacing-unit;
	}		
}

	.author-bio__body {
		padding: $spacing-unit--small;
		background: color('grey-lighter');
		border-radius: $border-radius--large;
		@include clearfix();
	}

	.author-bio__aside {
		text-align: center;

		@include breakpoint(less-than-xs) {
			padding-bottom: $spacing-unit--small;
			border-bottom: 1px solid color('grey');
			margin-bottom: $spacing-unit--small;
		}
		

	}

	.author-bio__subtitle {
		margin-top: 0;
		font-weight: bold;
	}

	.author-bio__title {
		margin-bottom: 5px;
		font-weight: bold;
	}

	.author-bio__content {

		p:last-child {
			margin-bottom: 0;
		}

	}