/*------------------------------------*\
	#COMPONENT
\*------------------------------------*/

.component {
	margin-bottom: $spacing-unit--tiny;
	@include clearfix();

	@include breakpoint(md) {
		margin-bottom: $spacing-unit--small;
	}
	
	&:last-child {

		@include breakpoint(sm) {
			margin-bottom: 0;
		}
	}

}