/*------------------------------------*\
    #SOCIAL DIALOG
\*------------------------------------*/

.dropdown {
	position: relative;
}

	.dropdown__dialog {
		display: none;
		width: 225px;
		margin-top: 2px;
		padding: $spacing-unit--tiny;
		background: #fff;
		border: 1px solid color('grey-light');
		border-radius: $border-radius--small;
		box-shadow: 0 2px 29px rgba(0, 0, 0, .21);
		font-size: em(13px);
		line-height: em(18px, 13px);
		position: absolute;
		top: 100%;
		right: 0;
		z-index: z('dropdown');

		&:before {
			content: '';
			display: block;
			height:	0;
			width:	0;
			border-bottom: 8px solid #fff;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			position: absolute;
			bottom: 100%;
			right: 25px;

			@include breakpoint(sm) {
				right: 40px;
			}
			
		}

		p {
			margin-bottom: em(18px, 13px);
		}

	}

		.dropdown__dialog--dark {
			border: none;
			background: color('grey-darker');
			color: #fff;

			&:before {
				border-bottom-color: color('grey-darker');
			}

		}


	.dropdown__list {
		@include list-unstyled;
		overflow: visible;
	}

		.dropdown__item {
			margin-bottom: $spacing-unit--tiny;

			&:last-child {
				margin-bottom: 0;
			}

		}
