/*------------------------------------*\
	#FILTERS
\*------------------------------------*/

.filters {
	padding: $spacing-unit--tiny $layout-gutter;
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
	@include clearfix();
	
	@include breakpoint(md) {
		padding: $spacing-unit--tiny $layout-gutter--large;
	}

}

	.filters__list {
		overflow: visible;
		@include list-unstyled();
		width:	100%;
	}

	.filters__item {
		width: 100%;
		margin-bottom: $spacing-unit--tiny;

		@include breakpoint(sm) {
			width: auto;
			margin-bottom: 0;
			margin-right: $layout-gutter;
			float: left;
		}

	}

		.filters__item--right {

			@include breakpoint(sm) {
				float: right;
				margin-right: 0;
			}
			
		}
		
	.filters__label {
		width: 30%;
		line-height: 45px;
		float: left;
		padding-right: $spacing-unit--tiny;

		@include breakpoint(sm) {
			width: auto;
		}
		
	}


	.filters__option {
		display: inline-block;
		width: 70%;

		@include breakpoint(sm) {
			width: auto;
		}

		@include breakpoint(lg) {
			width: 200px;
		}
		
	}

		.filters__option--thin {

			@include breakpoint(lg) {
				width: 100px;
			}
			
		}

		.filters__option--wide {

			@include breakpoint(lg) {
				width: 250px;
			}
			
		}

	.filter__paging {
		display: inline-block;
		margin: 8px 0 0;
	}