/*------------------------------------*\
    #GALLERY CAROUSEL
\*------------------------------------*/


.gallery {
	margin-bottom: $spacing-unit--small;
}


	.gallery__item {
		
		.gallery--controller & {
			padding: 0 5px;
		}

	}

	.gallery__carousel {

		.gallery--controller & {
			padding: 0 44px;
		}

	}


	.gallery__prev,
	.gallery__next {
		width:	40px;
		height:	40px;
		font-size: 30px;
		line-height: 42px;
	}

	.gallery__prev {
		left: 0;
	}
	.gallery__next {
		right: 0;
	}