/*------------------------------------*\
    #JOB LIST
\*------------------------------------*/

.job-list__header {
	font-family: $font-family-oxygen;
	font-size: em(25px);
	font-weight: bold;
}

	.job-list__position {
		width: 70%;
	}

	.job-list__location {
		
	}