/*------------------------------------*\
	#LOGOS
\*------------------------------------*/

.logo {
	@include image-replacement();
	display: block;
	width:	80px;
	height:	49px;
	background: url('../img/logo-imperial-toy.png');
	background-size: contain;

	@include breakpoint(lg) {
		width:	147px;
		height:	 95px;
	}
	
}


	/**
	 * Small variation. Only for desktop and up
	 */
	.logo--small {

		@include breakpoint(lg) {
			width:	115px;
			height:	 72px;
		}

	}