/*------------------------------------*\
	#META
\*------------------------------------*/

.meta {
	font-size: em(15px);
}

	.meta__link {
		color: color('grey-darker');
		-webkit-transition: color .3s ease-in-out;
		        transition: color .3s ease-in-out;

		@include link-states(){
			color: color('blue');
		}

	}