/*------------------------------------*\
	#NAV
\*------------------------------------*/

.nav__list {
	@include list-unstyled();
	width: 100%;
	margin-bottom: $spacing-unit--tiny;
	border-bottom: 1px dotted color('grey-light');
	font-family: $font-family-asap;
	font-size: em(13px);
	font-weight: bold;
	text-transform: uppercase;

	@include breakpoint(sm) {
		margin: 0;
		border: none;
		font-size: em(15px);
	}

	@include breakpoint(md) {
		font-size: em(18px);
	}
	
	@include breakpoint(lg) {
		font-size: em(22px);
	}
	
	
}

	.nav__item {
		display: block;
		border-top: 1px dotted color('grey-light');

		@include breakpoint(sm) {
			border: none;
			margin-left: $layout-gutter;
			float: left;
		}

		@include breakpoint(md) {
			margin-left: $layout-gutter--large;
		}

		&:first-child {
			margin-left: 0;
		}
		
	}

	.nav__link {
		display: block;
		padding: $spacing-unit--tiny 0;
		color: color('grey-darker');
		-webkit-transition: color .3s ease-in-out;
		        transition: color .3s ease-in-out;

		@include breakpoint(sm) {
		    padding: 0;
		}
		
		
		@include link-states(){
			color: color('blue-light');
		}

	}

	.nav__link-icon {
		float: right;
	}