/*------------------------------------*\
	#SELECTIZE
\*------------------------------------*/


.selectize-input {
	overflow: visible;
	padding: 11px 30px 11px 18px;
	box-shadow: none;
	border: 1px solid #e4e4e4;
	border-radius: $border-radius--small;
	color: color('grey-darker');
	font-size: $base-font-size;
}

	.selectize-input.focus {
		box-shadow: none;
		border-color: color('grey');
	}

	.selectize-input.dropdown-active {
		border-radius: $border-radius--small $border-radius--small 0 0;
	}
	

.selectize-input input {
	height: auto;
	color: color('grey-darker');
	font-size: $base-font-size;
}

.selectize-dropdown {
	border-radius: 0 0 $border-radius--small $border-radius--small;
	color: color('grey-darker');
	font-size: $base-font-size;
	z-index: z('selectize');
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
	padding: 11px 18px;
}

