/*------------------------------------*\
	#SUB NAVIGATION
\*------------------------------------*/

.subnav__list {
	@include list-unstyled();
	width: 100%;
	font-family: $font-family-asap;
	font-size: em(13px);
	font-weight: bold;
	text-transform: uppercase;

	@include breakpoint(sm) {
		border: none;
		font-size: em(14px);
		line-height: 50px;
	}

	@include breakpoint(md) {
		line-height: 60px;
	}
	
	
}

	.subnav__item {
		display: block;
		border-top: 1px solid rgba(255, 255, 255, .3);

		@include breakpoint(sm) {
			margin-left: $layout-gutter;
			border: none;
			float: left;
		}

		@include breakpoint(md) {
			margin-left: $layout-gutter * 2;
		}
		

		&:first-child {
			border-top: none;			

			@include breakpoint(sm) {
				margin-left: 0;
			}
			
		}
		
	}

	.subnav__link {
		display: block;
		padding: $spacing-unit--tiny 0;
		color: #fff;
		-webkit-transition: color .3s ease-in-out;
		        transition: color .3s ease-in-out;

		@include breakpoint(sm) {
			padding: 0;
		}

		@include link-states(){
			color: color('blue-light');
		}
		
	}