/*------------------------------------*\
    #TYPOGRAPY
\*------------------------------------*/

//
// Headings
//
@include headings() {
    line-height: base('line-height');
    margin: 0 0 $spacing-unit;
}

h1, .u-h1 {
    font-size: em(36px);
}

h2, .u-h2 {
    font-size: em(30px);
}

h3, .u-h3 {
    font-size: em(24px);
}

h4, .u-h4 {
    font-size: em(18px);
}

h5, .u-h5 {
    font-size: em(14px);
}

h6, .u-h6 {
    font-size: em(12px);
}


//
// Paragraphs
//
p {
    margin: 0 0 $spacing-unit;
}


//
// Lists
//
ul, ol, dl {
    margin: 0 0 $spacing-unit;
}


//
// Link Styles
//
a {
    color: color('primary');
    text-decoration: none;

    @include link-states() {
        text-decoration: underline;
    }

}

//
// Images
//
// [1] remove spacing below inline images.
//
img {
    vertical-align: middle; // [1]
    margin: 0 0 $spacing-unit;
}



hr {
    margin: 0 0 $spacing-unit;
    border: solid color('grey-25');
    border-width: 0 0 1px;
}
