/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * Error Message
 */
.error {
	display: block;
	margin-top: 5px;
	color: #000;
	background-color: #f2dede;
	font-size: 14px;
	vertical-align: top;
	border-color: #eed3d7;
	padding: 5px 10px;
	border-radius: 2px;
    
    &:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 14px;
		height: 17px;
		background: url(../img/icon-error.png) no-repeat top center;
		margin-right: 5px;
	}

}




