/*------------------------------------*\
	#TYPOGRAPY
\*------------------------------------*/

/**
 * Headings
 */
@include headings() {
	line-height: $base-line-height;
	margin: $spacing-unit 0;
}

h1, .u-h1 {
	font-size: em(36px);
}

h2, .u-h2 {
	font-size: em(30px);
}

h3, .u-h3 {
	font-size: em(24px);
}

h4, .u-h4 {
	font-size: em(18px);
}

h5, .u-h5 {
	font-size: em(14px);
}

h6, .u-h6 {
	font-size: em(12px);
}


/**
 * Paragraphs
 */
p {
	margin: $spacing-unit 0;
}


/**
 * Lists
 */
ul, ol, dl {
	margin: $spacing-unit 0;
}


/**
 * Link Styles
 */
a {
	color: color('primary');
	text-decoration: none;

	@include link-states(){
		text-decoration: underline;
	}

}
