/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Base button class, extended by modifiers.
 */
.c-btn {
    display: inline-block;
    padding: em(10px) em(20px);
    border: 0;
    color: color('link');
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: timer('fast');
}


/**
 * Modifiers for the buttons
 */
.c-btn--primary {
    background: color('primary');
    color: #fff;
}
