/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.c-btn {
    display: inline-block;
    color: color('primary');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
