/*------------------------------------*\
    #LOGOS
\*------------------------------------*/

//
// Map of logos, good for building out several at a time by passing a list of
// properties to this configuration map. They have a single base size and can
// get additional sizes based on provided breakpoints.
//
// EXAMPLE
// simple: (width, height, 'url')
//
// OR
// responsive: (width, height, 'image-url', (
//                 'breakpoint': (width, height),
//                 'breakpoint-2': (width, height, 'image-url')
//             ))
//


$logos-config: (
    'sample': (39px, 52px, '../img/logo-sample.jpg'),
    'responsive': (236px, 118px, '../img/logo-responsive.png', (
        'sm': (118px, 59px)
    ))
);





/**
 * Logo base class. Applies shared properties for all logos.
 *
 * [1] Relies on background-size to shrink large logos to smaller sizes.
 */

.c-logo {
    @include hide-text();
    display: inline-block;
    vertical-align: middle;
    background: center no-repeat;
    background-size: contain; // [1]
}

//
// Loop through the logos and generate modifiers.
//
@each $logo, $logo-config in $logos-config {

    .c-logo--#{$logo} {

        // Logo's properties
        $width:  nth($logo-config, 1);
        $height: nth($logo-config, 2);
        $url:    nth($logo-config, 3);

        width:  $width;
        height: $height;
        background-image: url($url);

        // Check is a breakpoints list is provided
        @if length($logo-config) == 4 {

            // logo's breakpoints list
            $logo-breakpoints-config: nth($logo-config, 4);

            @each $logo-breakpoint, $logo-breakpoint-config in $logo-breakpoints-config {

                // Logo's properties at this breakpoint
                $breakpoint-width:      nth($logo-breakpoint-config, 1);
                $breakpoint-height:     nth($logo-breakpoint-config, 2);

                @include breakpoint(#{$logo-breakpoint}) {
                    width:  $breakpoint-width;
                    height: $breakpoint-height;

                    // Check if an optional image size is provided for this
                    // breakpoint.
                    @if length($logo-breakpoint-config) == 3 {
                        $url:    nth($logo-breakpoint-config, 3);

                        background-image: url($url);
                    }

                }

            }

        }

    }

}
