/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * Navigation list
 */

.c-nav__list {
    margin: 0 0 spacer(1);
}


/**
 * Navigation List item
 *
 * [1] Stateful 'current' version of navigation item.
 */

.c-nav__item {
    color: color('primary');

    &.is-current {
        text-decoration: underline;
    }

}


/**
 * Navigation link
 */

.c-nav__link {
    color: inherit;
}
