/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

//
// <ul> as navigation List
//
.c-nav__list {
    @include list-unstyled();
    @include clearfix();
}


//
// Navigation List item
//
.c-nav__item {
    float: left;
    color: color('primary');
    margin-right: 10px;

    &.is-current {
        text-decoration: underline;
    }

}

//
// Navigation link
//
.c-nav__link {
    color: inherit;
}
