/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * <ul> as navigation List
 */
.c-nav__list {
	@include list-unstyled();
}


	/**
	 * Navigation List item
	 */
	.c-nav__item {
		float: left;
		margin-right: 10px;

		&.is-active {
			color: color('primary');
		}

		&.has-dropdown {
			//...
		}

	}
