/*------------------------------------*\
    #LIST INLINE
\*------------------------------------*/

//
// Inline list
//
.o-list-inline {
    @include list-unstyled();

    & > li {
        display: inline-block;
        padding: 0 2px;
        vertical-align: middle;
    }

}
