/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/// Store $layout-config map as variables...
$layout-gutters:        map-get($layout-config, 'gutters');
$layout-rows:           map-get($layout-config, 'rows');
$layout-offsets:        map-get($layout-config, 'offsets');
$layout-push-and-pull:  map-get($layout-config, 'push-and-pull');





/**
 * Layout row
 *
 * [1] Additional modifier classes for layout gutters.
 */
.o-layout {
    @include clearfix;
    margin-right: neg(halve(map-get($layout-gutters, 'default')));
    margin-left:  neg(halve(map-get($layout-gutters, 'default')));
}

// [1]
@each $layout-gutter, $layout-gutter-value in $layout-gutters {

    // Skip the default value.
    @if ($layout-gutter != 'default') {

        .o-layout--#{$layout-gutter} {
            margin-right:  neg(halve($layout-gutter-value));
            margin-left:   neg(halve($layout-gutter-value));
        }

    }

}


/**
 * A layout item, used like a column
 *
 * [1] Additional modifier classes for layout gutters.
 */
.o-layout__item {
    position: relative;
    width: 100%;
    float: left;
    min-height: 1px;
    padding-right:  halve(map-get($layout-gutters, 'default'));
    padding-left:   halve(map-get($layout-gutters, 'default'));

    // [1]
    @each $layout-gutter, $layout-gutter-value in $layout-gutters {

        // Skip the default value.
        @if ($layout-gutter != 'default') {

            .o-layout--#{$layout-gutter} > & {
                padding-right:  halve($layout-gutter-value);
                padding-left:   halve($layout-gutter-value);
            }

        }

    }

}


/**
 * Build The layout item span modifiers
 */
@for $layout-item-span from 1 through $layout-rows {

    .o-layout__item--#{$layout-item-span} {
        width: (100% / $layout-rows) * $layout-item-span;
    }

}


//
// Do the same as above but for each breakpoint
//
@each $breakpoint, $media-querie in $breakpoints {

    @include breakpoint($breakpoint) {

        @for $layout-item-span from 1 through $layout-rows {

            .o-layout__item--#{$breakpoint}-#{$layout-item-span} {
                width: (100% / $layout-rows) * $layout-item-span;
            }

        }

    }

}




// Conditionally output layout offsets.
@if $layout-offsets {

    /**
     * Offset modifiers for layout items.
     */
    @for $layout-item-span from 1 through $layout-rows {

        .o-layout__item--offset-#{$layout-item-span} {
            margin-left: (100% / $layout-rows) * $layout-item-span;
        }

    }

    //
    // Do the same as above but for each breakpoint
    //
    @each $breakpoint, $media-querie in $breakpoints {

        @include breakpoint($breakpoint) {

            @for $layout-item-span from 1 through $layout-rows {

                .o-layout__item--offset-#{$breakpoint}-#{$layout-item-span} {
                    margin-left: (100% / $layout-rows) * $layout-item-span;
                }

            }

        }

    }

}





// Conditionally output layout source ordering.
@if $layout-push-and-pull {

    /**
     * Push and Pull modifiers for layout items.
     */
    @for $layout-item-span from 1 through $layout-rows {

        .o-layout__item--push-#{$layout-item-span} {
            left: (100% / $layout-rows) * $layout-item-span;
        }

        .o-layout__item--pull-#{$layout-item-span} {
            left: negative((100% / $layout-rows) * $layout-item-span);
        }

    }


    //
    // Do the same as above but for each breakpoint
    //
    @each $breakpoint, $media-querie in $breakpoints {

        @include breakpoint($breakpoint) {

            @for $layout-item-span from 1 through $layout-rows {

                .o-layout__item--push-#{$breakpoint}-#{$layout-item-span} {
                    left: (100% / $layout-rows) * $layout-item-span;
                }

                .o-layout__item--pull-#{$breakpoint}-#{$layout-item-span} {
                    left: negative((100% / $layout-rows) * $layout-item-span);
                }

            }

        }

    }

}
