/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

/**
 * A generic layout with an item floated to the side and content block that
 * doesn't wrap underneath it.
 */
.o-media {
    @include clearfix();
    margin-bottom: spacer(1);
}





/**
 * Side element floats left and pushes content away. Stacks on mobile.
 *
 * [1] Flip the image to the right with modifier
 */
.o-media__graphic {
    display: block;
    margin: spacer(1) 0 0;

    @include breakpoint(xs) {
        margin: 0 spacer(1) spacer(1) 0;
        max-width: 30%;
        float: left;
    }

    // [1]
    .o-media--flip & {

        @include breakpoint(xs) {
            margin: 0 0 spacer(1) spacer(1);
            float: right;
        }

    }

}





/**
 * Content Block
 */
.o-media__content {
    overflow: hidden;
}
