/*------------------------------------*\
	#ROW
\*------------------------------------*/

.row {
	@include clearfix;
}


	/**
	 * Add a gutter to direct desendent columns.
	 */
	.row--gutter {
		margin-right:	-($col-gutter / 2);
		margin-left:	-($col-gutter / 2);

		& > .col {
			padding-right:	$col-gutter / 2;
			padding-left:	$col-gutter / 2;
		}

	}