/*------------------------------------*\
	#MEDIA
\*------------------------------------*/

.col {
	position: relative;
	width: 100%;
	float: left;
	min-height: 1px;
}


	/**
	 * Build The Columns
	 *
	 * 1) The first loop creates column systems from 2 to 6 columns 
	 * 2) In each column system create all possible column sizes
	 */
	 
	@for $columns-in-row from 2 through 6 { /* [1] */

		@for $columns-span from 1 through $columns-in-row { /* [2] */

			.col--#{$columns-span}-#{$columns-in-row} {
				width: (100% / $columns-in-row) * $columns-span;
			}

			.col--xs-#{$columns-span}-#{$columns-in-row} {
				@include breakpoint(xs) {
					width: (100% / $columns-in-row) * $columns-span;
				}
			}

			.col--sm-#{$columns-span}-#{$columns-in-row} {
				@include breakpoint(sm) {
					width: (100% / $columns-in-row) * $columns-span;
				}
			}

			.col--md-#{$columns-span}-#{$columns-in-row} {
				@include breakpoint(md) {
					width: (100% / $columns-in-row) * $columns-span;
				}
			}

			.col--lg-#{$columns-span}-#{$columns-in-row} {
				@include breakpoint(lg) {
					width: (100% / $columns-in-row) * $columns-span;
				}
			}

		}

	}

//  /**
//   * Push & Pull Utilities
//   */
//  @for $columns-in-row from 2 through 6 { /* [1] */
//
//	@for $columns-span from 1 through $columns-in-row { /* [2] */
//
//
//	  .col--push-#{$columns-span}-#{$columns-in-row} {
//		left: (100% / $columns-in-row) * $columns-span;
//	  }
//
//	  .col--push-xs-#{$columns-span}-#{$columns-in-row} {
//		@include breakpoint(xs) {
//		  left: (100% / $columns-in-row) * $columns-span;   
//		}
//	  }
//	  .col--push-sm-#{$columns-span}-#{$columns-in-row} {
//		@include breakpoint(sm) {
//		  left: (100% / $columns-in-row) * $columns-span;   
//		}
//	  }
//	  .col--push-md-#{$columns-span}-#{$columns-in-row} {
//		@include breakpoint(md) {
//		  left: (100% / $columns-in-row) * $columns-span;   
//		}
//	  }
//	  .col--push-lg-#{$columns-span}-#{$columns-in-row} {
//		@include breakpoint(lg) {
//		  left: (100% / $columns-in-row) * $columns-span;   
//		}
//	  }
//
//	}
//  }
//
//  @for $columns-in-row from 2 through 6 { /* [1] */
//
//	@for $columns-span from 1 through $columns-in-row { /* [2] */
//
//
//	  .col--pull-#{$columns-span}-#{$columns-in-row} {
//		left: -(100% / $columns-in-row) * $columns-span;
//	  }
//
//	  .col--pull-xs-#{$columns-span}-#{$columns-in-row} {
//		@include breakpoint(xs) {
//		  left: -(100% / $columns-in-row) * $columns-span;  
//		}
//	  }
//	  .col--pull-sm-#{$columns-span}-#{$columns-in-row} {
//		@include breakpoint(sm) {
//		  left: -(100% / $columns-in-row) * $columns-span;  
//		}
//	  }
//	  .col--pull-md-#{$columns-span}-#{$columns-in-row} {
//		@include breakpoint(md) {
//		  left: -(100% / $columns-in-row) * $columns-span;  
//		}
//	  }
//	  .col--pull-lg-#{$columns-span}-#{$columns-in-row} {
//		@include breakpoint(lg) {
//		  left: -(100% / $columns-in-row) * $columns-span;  
//		}
//	  }
//
//	}
//  }