/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.container {
    max-width: $container-padding + $container-width + $container-padding;
    margin: 0 auto;
    padding: 0 $container-padding;
}




