/*------------------------------------*\
	#COLUMNS
\*------------------------------------*/

/**
 * Block level column class
 */
.col {
	position: relative;
	width: 100%;
	float: left;
	min-height: 1px;
	margin-right:	$columns-gutter / 2;
	margin-left:	$columns-gutter / 2;
}


	/**
	 * Build The Column span modifiers
	 */
	@for $columns-span from 1 through $columns-per-row {
		
		.col--#{$columns-span}-#{$columns-per-row} {
			width: (100% / $columns-per-row) * $columns-span;
		}

	}


	/**
	 * Build The Responsive Columns
	 *
	 * 1) Do the same as above but for each breakpoint
	 */
	@each $breakpoint, $viewport in $breakpoints {

		@include breakpoint($breakpoint) {

			@for $columns-span from 1 through $columns-per-row {
				
				.col--#{$breakpoint}-#{$columns-span}-#{$columns-per-row} {
					width: (100% / $columns-per-row) * $columns-span;
				}

			}

		}

	}