////
/// VARIABLES
////


///
// Base global defaults
///
$base-color:        #000;
$base-font-family:  sans-serif;
$base-font-size:    14px;
$base-line-height:  1.5;





///
// Font sizes
///
$font-sizes: (
    'h1': (
        'initial': 22px,
        'sm':      36px
    ),
    'h2': (
        'initial': 20px,
        'sm':      30px
    ),
    'h3': (
        'initial': 18px,
        'sm':      24px
    ),
    'h4': (
        'initial': 16px,
        'sm':      18px
    ),
    'h5': 14px,
    'h6': 12px
);





///
// Colors
///
$colors: (
    'body':         #333,
    'headings':     #00587d,
    'primary':      #337ab7,
    'link':         #337ab7,
    'grey': (
        'default':  #7f7f7f,
        '25':       #bfbfbf,
        '75':       #474747
    )
);





///
// Social Network's brand colors (just nice to have)
///
$social-networks: (
    'facebook':     #0e639e,
    'twitter':      #44c1ed,
    'pinterest':    #f00,
    'youtube':      #c90909
);
