////
/// VARIABLES
////


////
/// Layout Configuration
///
/// [1] Number of Layout Items per layout
/// [2] Column Gutters, anything other than default builds out modifier classes
/// [3] Generate offset modifier classes for layout items
/// [4] Generate source ordering modifier classes for layout items
///
////
$layout-config: (
    'rows':          12,
    'gutters': (
        'default':   20px
    ),
    'offsets':       false,
    'push-and-pull': false
);



/// Generic spacing unit
$spacing-unit:      20px;




///
// Colors
///
$colors: (
    'primary':      #00f,
    'secondary':    #f00
);





///
// Typography
///

/// Global font size
$base-font-family:  sans-serif;

/// Global font size
$base-font-size:    14px;

/// Calculated Line Height
$base-line-height:   1.5;





///
// Social Network's brand colors (just nice to have)
///
$social-networks: (
    'facebook':     #0e639e,
    'twitter':      #44c1ed,
    'pinterest':    #f00,
    'youtube':      #c90909
);





///
// Breakpoints for @mixin breakpoint();
///
$breakpoints: (
    'xs':           screen and (min-width:  480px),
    'sm':           screen and (min-width:  768px),
    'md':           screen and (min-width: 1024px),
    'lg':           screen and (min-width: 1200px),
    'xl':           screen and (min-width: 1500px)
);





///
// Z-index Map for @function z();
///
$z-index: (
    'lightbox':     1000
);
