///*------------------------------------*\
//	#VARIABLES
//\*------------------------------------*/

///
// Layout
///

/// Container Width
$container-width: 		1240px;

/// Container left and right padding
$container-padding: 	  20px;


/// Number of columns per row
$columns-per-row:		    12;

/// Default column gutter
$columns-gutter: 		  20px;


/// Generic spacing unit
$spacing-unit: 			  20px;





///
// Typography
///

/// Global font size
$base-font-size:		  14px;

/// Calculated Line Height
$base-line-height:	 1.42857em; // (20/14)




///
/// Global sass map for the primary color palette.
///
$colors: (
	'blue':	blue,
	'red':	red
);





///
/// Social Network's brand colors (just nice to have)
///
$social-networks: (
	'facebook':		#0e639e,
	'twitter':		#44c1ed,
	'pinterest':	#ff0000,
	'youtube':		#c90909
);





///
/// Breakpoints for @mixin breakpoint();
///
$breakpoints: (
	'xs':			screen and (min-width:  480px),
	'sm':			screen and (min-width:  768px),
	'md':			screen and (min-width: 1024px),
	'lg':			screen and (min-width: 1200px),
	'xl':			screen and (min-width: 1500px)
);





///
/// Z-index Map for @function z();
///
$z-index: (
	'lightbox':		1000
);




