/*------------------------------------*\
    #CONTENT
\*------------------------------------*/


/**
 * The main content area.
 */
.content {
    background: #f8f8f8 url('../img/pattern-circles.jpg') repeat center;
	box-shadow: inset 1px 0 0 #fff,
				inset -1px 0 0 #fff,
				0 0 40px  rgba(0,0,0,.15);
	border-radius: $border-radius--large * 2;

	@include breakpoint(sm) {
		padding-bottom: $spacing-unit;
	}

	@include breakpoint(md) {
		padding-bottom: $spacing-unit * 2;
	}
	
}
