/*------------------------------------*\
    #IMAGE FRAME
\*------------------------------------*/


/**
 * No overflow hidden so this can be used with custom hover effects.
 */
.img-frame {
	display: block;
	border: 1px solid color('grey-light');
	border-radius: $border-radius--small;
	margin-bottom: $base-line-height;

	img {
		display: block;
		width: 100%;
		border-radius: $border-radius--small - 1;
	}

	.owl-carousel & {
		margin-bottom: 0;
	}

}

	a.img-frame {
		position: relative;

		@include box-frame(-1px);

	}

	.img-frame--large {
		border-radius: $border-radius--large;

		img {
			border-radius: $border-radius--large - 1;
		}

	}