/*------------------------------------*\
    #LIST INLINE
\*------------------------------------*/

/**
 * Inline list
 */
.list-inline {
	overflow: visible;
	@include list-unstyled();

    & >  li {
        display: inline-block;
        padding: 0 2px;
    }

}