/*------------------------------------*\
    #ROW
\*------------------------------------*/

.row {
    @include clearfix;
}

.row--gutter {
	margin-left: -$spacing-unit-half;
	margin-right: -$spacing-unit-half;

	.col {
		padding-left: $spacing-unit-half;
		padding-right: $spacing-unit-half;
	}

}


.row--gutter-tiny {
	margin-left: -$spacing-unit--tiny-half;
	margin-right: -$spacing-unit--tiny-half;

	.col {
		padding-left: $spacing-unit--tiny-half;
		padding-right: $spacing-unit--tiny-half;
	}

}

.row--gutter-small {
	margin-left: -$spacing-unit--small-half;
	margin-right: -$spacing-unit--small-half;

	.col {
		padding-left: $spacing-unit--small-half;
		padding-right: $spacing-unit--small-half;
	}

}